%tr
  %td= "##{pod_counter+1}"
  %td= link_to pod.name, pod
  -unless skip_owner
    %td= link_to pod.owner.name, public_user_path(pod.owner)
  %td
    = "#{pod.reliability.round(2)}%"
    - if pod.maintenance?
      %span#maintenance_notice_list
        Maintenance since
        = time_ago_in_words(pod.maintenance)
  - unless skip_country
    %td= location_for(pod)
  %td= pod.score.round(3)
  %td= stars(pod.stars)
  %td= uptime(pod.upsince)
  - unless skip_acceptation_state
    %td= acceptance_state(pod.accepted?)
