- content_for :page_title do
  = @pod.name

%h3
  = link_to @pod.name, @pod.url
  = "(#{stars(@pod.stars)})".html_safe
%ul
  - if @pod.maintenance?
    %li#maintenance_notice 
      Pod is in maintenance mode since
      = time_ago_in_words(@pod.maintenance)
  - unless @pod.accepted?
    %li#acceptance_notice
      = image_tag 'icons/not_accepted.png'
      The pod isn't accepted yet
  %li= location(@pod)
  %li
    Score:
    = @pod.score
  %li
    Reliability:
    = @pod.reliability
  %li
    Maintenained by
    = link_to @pod.owner.name, public_user_path(@pod.owner)

- if user_signed_in? and current_user.owns?(@pod)
  %h3 Edit pod
  = link_to "#{@pod.maintenance? ? 'Disable' : 'Enable'} maintenance mode", pod_switch_maintenance_path(@pod)
  %p Want to do it automatically? Just do a GET request at: TODO
  
  = form_for @pod do |f|
    = f.label :name, "Name"
    = f.text_field :name
    = f.label :url, "URL"
    = f.text_field :url
    = f.label :location, "Country"
    = f.country_select :location, @pod.location.name
    = f.submit "Update"
